a {
    cursor: pointer;
}

hr {
    margin: 4px 0;
}

.container-fluid {
    max-width: 100em;
}

.content {
    margin-top: 60px;
}

.result {
    cursor: pointer;
    border: 1px solid #717171;
    margin-bottom: 5px;
}

.result:hover {
    background-color: #eee;
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.56);
}

.result h3 {
    padding: 1em 0.3em 1em 0em;
    margin: 0;
    display: inline-block;
}

.icon {
    padding-left: 5px !important;
    display: inline-block;
    float: left;
    width: 40px;
}

.listResult {
    display: inline-block;
    padding-left: 5px !important;
}

.pageNum {
    cursor: pointer;
    font-size: 17px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #CACACA;
}

.navbar-default {
    background-color: #323232;
    border-color: #7B0000;
}

.navbar-default .navbar-nav>.active>a {
    color: #F7F7F7;
    background-color: #5F5F5F;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CACACA;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
    z-index: 10000;
}

.navbar-form {
    border: 0 !important;
    box-shadow: 0 !important;
}

.badge {
    background-color: #323232;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer-icon {
    font-size: 4em !important;
}

.loading {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.loading .fa,
.waiting .fa {
    font-size: 7em;
    color: silver;
}

.removeFromList {
    float: right;
    font-size: 24px;
    display: inline-block;
    z-index: 1000;
    margin-top: 20px;
    color: darkred;
}

#details .removeFromList {
    float: left !important;
    z-index: 0 !important;
    margin-top: 0 !important;
}

.searchForm {
    display: inline-block;
    float: none;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 0 10px 1em 10px;
}

.removeFromList:hover {
    color: red;
    cursor: pointer;
}

.btn,
.form-control,
.result,
.nav-tabs>li>a {
    border-radius: 2px !important;
}

.footer-margin {
    margin-bottom: 60px;
}

#goBack {
    font-size: 25px;
}

#recentSearches {
    min-height: 125px;
}

#recentSearches h3,
#topSearches h3 {
    height: 55px;
}

#searchResults {
    padding: 0 5px;
}

@media (max-width: 768px) {
    .no-mobile {
        display: none !important;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 20px !important;
    }
    .result h3 {
        padding-left: 5px;
    }
    .searchForm {
        height: 150px;
    }
    #recentSearches {
        border-right: 0 !important;
    }
    #recentSearches h3,
    #topSearches h3 {
        height: 45px;
    }
}