a {
    cursor: pointer;
}

hr {
    margin: 0;
}

.content {
    margin-bottom: 60px;
    margin-top: 60px;
}

.result {
    cursor: pointer;
}

.result:hover {
    background-color: #eee;
}

.result h3 {
    padding: 1em 0.3em 1em 0em;
    margin: 0;
    display: inline-block;
}

.icon {
    padding-left: 5px !important;
    display: inline-block;
    float: left;
    width: 40px;
}

.listResult {
    display: inline-block;
    padding-left: 5px !important;
}

.container {
    max-width: 70em;
}

.pageNum {
    cursor: pointer;
    font-size: 17px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #CACACA;
}

.navbar-default {
    background-color: #000000;
    border-color: #7B0000;
}

.navbar-default .navbar-nav>.active>a {
    color: #F7F7F7;
    background-color: #353535;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CACACA;
}

.navbar-form {
    border: 0 !important;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer-icon {
    font-size: 4em !important;
}

.removeFromList {
    float: right;
    font-size: 24px;
    display: inline-block;
    margin-top: 20px;
    color: darkred;
}

.removeFromList:hover {
    color: red;
    cursor: pointer;
}

.btn, .form-control {
    border-radius: 2px !important;
}

#details {
    margin-top: 60px;
}

#goBack {
    font-size: 25px;
}